10326_retail_fuel_prices_with_electricity_1-7-22.xlsx
10962-ev-registration-counts-by-state_123120.xlsx
California_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
Colorado_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
Florida_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
Massachusetts_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
Minnesota_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
Ohio_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
Texas_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
Washington_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
New_York_All_Grades_All_Formulations_Retail_Gasoline_Prices.csv
EVRegistration2020.csv
GasPrices.csv
readme_files
data/
